{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      .btn {
        height: 300px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }

      .btn-text {
        font-size: 61px; 

      }

      .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    </style>

    <title>Home</title>

</head>
<body>
  {% include 'home/navbar.html' %}

  <div class="container">
    <div class="btn-div d-grid gap-2">
      <a role="button" class="btn btn-success" type="button" href="{% url 'user:show_in_qr' %}">
        <div class="text-container">
          <span class="btn-text"><b>입실</b></span>
        </div>
      </a>

      <a role="button" class="btn btn-info" type="button" href="{% url 'user:show_out_qr' %}">
        <div class="text-container">
          <span class="btn-text"><b>퇴실</b></span>
        </div>
      </a>
    </div>
  </div>

</body>
</html>