# venv
/venv/

# pycache
__pycache__
__pycache__/
__pycache__/*
*.pyc

# database
db.sqlite3
migrations/

# xlsx
attendance_app/media/attendance_excel/**/*.xlsx
attendance_app/media/qr_codes/**/*.png

!attendance_app/media/attendance_excel/
!attendance_app/media/qr_codes/
!attendance_app/media/attendance_excel/**/example.xlsx
!attendance_app/media/qr_codes/**/example.png
