{% load static %}
<head>

</head>
<body>
<div>{{student.name}} 님 {{course.course_name}} 강의</div><br>

{% if status == True %}
<div>출석 처리 되었습니다.</div>
{% else %}
<div>퇴실 처리 되었습니다.</div>
{% endif %}
<br>
<div>{{check_time}}</div>
<br>
<div id="timer"></div>

<script>
  var countdown = 5; // 시작 카운트다운 값
  var timerElement = document.getElementById('timer');
  var status = {% if status %}true{% else %}false{% endif %};

  function updateTimer() {
    timerElement.innerText = countdown;
    countdown--;

    if (countdown < 0) {
        var redirectUrl = "{% url 'course:QRScanner_in' course.pk %}";
        if (!status) {
            redirectUrl = "{% url 'course:QRScanner_out' course.pk %}";
        }
        window.location.href = redirectUrl; // 이동할 페이지의 URL
    } else {
      setTimeout(updateTimer, 1000);
    }
  }

  updateTimer();
</script>
</body>