{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
  <title>강의 수정</title>
</head>
<body>
  {% include 'home/navbar.html' %}
  <br><br><br>
    <div class="container">
      <h1><b>강의 수정</b></h1>

      <br><br><br>

      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">강의1</a>
      </div>

      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">강의2</a>
      </div>

      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">강의 3</a>
      </div>

      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">강의별 강의평가</a>
      </div>


  </div>
</body>
</html>
